%% WORM Engines Erlang/OTP Build Configuration

{erl_opts, [debug_info]}.

{deps, [
]}.

{profiles, [
  {dev, [
    {deps, [
      {eunit_formatted_runner, "0.2.4"}
    ]},
    {erl_opts, [debug_info]}
  ]},
  {test, [
    {erl_opts, [debug_info, export_all]}
  ]},
  {prod, [
    {erl_opts, [{optimize, 3}]}
  ]}
]}.

{escript_emu_args, "%%! -smp enable -noshell\n"}.

{min_otp_vsn, "24"}.

{applications, [kernel, stdlib, crypto]}.
